PROJECT_NAME=Music Analyzer API
API_V1_STR=/api/v1

POSTGRES_SERVER=postgres
POSTGRES_PORT=5432
POSTGRES_DB=music_analyzer
POSTGRES_USER=music_user
POSTGRES_PASSWORD=music_password

REDIS_HOST=redis
REDIS_PORT=6379

SECRET_KEY=
ACCESS_TOKEN_EXPIRE_MINUTES=60
ALGORITHM=HS256

SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
FFMPEG_PATH=
YT_COOKIES_FILE=/code/cookies.txt
AUDIO_DOWNLOAD_DIR=/code/storage/music

HUGGING_FACE_TOKEN=

GENRE_MODEL_PATH=/code/models/m3hrdadfi-wav2vec
MOOD_MODEL_PATH=/code/models/mood_model